body {
    background-color: #dbf3f2; 
}

h1 {
    margin-top: 15px;
    margin-bottom: 100px; 
}




input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dbf3f2;
    font-size: 16px; /* Increase font size */
}

.container2 {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Ensure the container takes only the necessary width */
    text-align: left; /* Left align the content within the container */
}


.form-control {
    font-size: 18px; 
}

.h5 {
    text-align: center;
}

.col-12 {
    margin-bottom: 20px; /* Increase margin between form elements */
}

.btn {
    font-size: 24px; /* Increase font size */
    padding: 5px 15px; /* Adjust padding for bigger buttons */
}

.button {
    width: 50%;
    font-size: 24px;
    margin: 0 auto;
    padding: 10px 20px;
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

}

.language-container {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.language-item {

    margin-right: 120px; /* Adjust as needed */
    margin-left: 120px;
}



select {
    width: 200px;
    height: 40px; 
    font-size: 20px; 
    padding: 5px; 
}


#translateButton {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #28a6c58d;
}



.input-container {
    margin-bottom: 10px;
    width: 600px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
   
}
.result-container {
    background-color: #fff;
    width: 600px; 
    height: 200px;
    font-size: 22px; 
    padding: 5px;
    overflow-y: auto;
}
#resultContainer {
    display: none; 
}




.input-box textarea {
    width: 100%;
    font-size: 18px;
    height: 200px;
    margin-bottom: 10px;
   
}
